.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.title {
  color: white;
  font-family: "Rochester", cursive;
  font-size: 150px;
}

.button {
  background: white;
  padding: 15px 30px;
  font-size: 40px;
  border-radius: 7px;
  color: rgb(161, 26, 26);
}
